@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik&display=swap');

body {
	background-color: black;
}

body h3 {
	font-family:'Mukta', sans-serif;
}

a {
	position: relative;
	color: white;
	text-decoration: none;
}

a::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0%;
	height: 3px;
	background-color: white;
	margin-top: 37px;
	transition: 0.3s;
}

a:hover::before {
	width: 100%;
}

.screen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
	font-family: 'Rubik', sans-serif;
	border-bottom: solid 1px white;
}

.smallMoon {
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	margin-top: -8px;
	margin-left: 50%;
}

.smallMoon::after {
	content: '';
	width: 12px;
	height: 12px;
	display: inline-block;
	background-color: black;
	margin-top: 0px;
	margin-left: 0px;
	border-radius: 50%;
}

#title {
	gap: 50px;
}

#brief {
	flex-direction: column;
}

#info {
	flex-direction: column;
}

#actually {
	flex-direction: column;
}

#info h2 {
	font-family:'Mukta', sans-serif;
	margin:0;
}


.eye {
	background-color: black;
	width: 20px;
	height: 20px;
	border: solid 3px white;
	border-radius: 50%;
}

.eye::after {
	content: '';
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	background-color: white;
	width: 10px;
	height: 10px;
	margin: 5px;
}

.closedEye {
	border:  none;
	width: 20px;
	height: 20px;
	background-color: black;
}

.brow {
	position: absolute;
	width: 80px;
	height: 30px;
	border: solid 3px white;
	border-color: white transparent transparent transparent;
	border-radius: 50%/30px 30px 0 0;
}

#moon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	margin-top: 20px;
}

#moon::before {
	content: '';
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: black;
	margin-top: -10px;
	margin-left: -20px;
	border-radius: 50%;
}

#moon::after {
	content: '';
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: white;
	display: inline-block;
	margin-top: -40px;
	margin-left: -40px;
}

#forest {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;

	border-bottom: 80px solid white;
}

#forest::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin-top: 20px;
	margin-left: 10px;
	border-bottom: 60px solid white;
}

#forest::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin-top: -50px;
	margin-left: -60px;
	border-bottom: 50px solid white;
}